.carousel-frame {
    position: relative;
    height: 760px;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    border: solid #666 10px;
    border-radius: 60px;
}

.carousel-img {
    z-index: -1;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    transition: left 2s ease-in-out;
}

.carousel-appear {
    left: -100%;
}

.carousel-appear-active {
    left: 0;
}

.carousel-enter {
    left: -100%;
}

.carousel-enter-active {
    left: 0;
}

.carousel-leave {
    left: 0;
}

.carousel-leave-active {
    left: 100%;
}
