@keyframes slidein {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slideout {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.carousel-frame {
    position: relative;
    height: 760px;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    border: solid #666 10px;
    border-radius: 60px;
}

.carousel-img {
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
}

.carousel-appear {
    animation: slidein 2s ease-in-out both;
}

.carousel-enter {
    animation: slidein 2s ease-in-out both;
}

.carousel-leave {
    animation: slideout 2s ease-in-out both;
}
